<div class="border-form-div" style="border-color:#000;background-color:#edeff2">

<p id="notice"><%= notice %></p>
    <%= button_to "Log Out", destroy_user_session_path, method: :delete %>

<h1>About</h1>

<div class="panel panel-default">
<div class="panel-body">A Basic Panel</div>
<span class="label label-default">Default Label</span>
</div>
<ul class="list-group">
  <li class="list-group-item">First item</li>
  <li class="list-group-item">Second item</li>
  <li class="list-group-item">Third item</li>
</ul>
<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>College:</strong>
    <%= @user.college %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= @user.contact %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <tbody>
      <tr>
        <td><%= link_to 'Edit', edit_user_registration_url(@user) %></td>
        <!-- <td><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      <!-- </tr>

  </tbody>
</table> -->
<%= link_to 'Edit', edit_user_registration_url(@user) %>
</div>
