<%= form_with(model: registration, local: true) do |form| %>
  <% if registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :users_id %>
    <%= form.text_field :users_id, id: :registration_users_id %>
  </div>

  <div class="field">
    <%= form.label :events_id %>
    <%= form.text_field :events_id, id: :registration_events_id %>
  </div>

  <div class="field">
    <%= form.label :team_name %>
    <%= form.text_field :team_name, id: :registration_team_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
